#main-home {
    .section-b-space {
        padding-bottom: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
    }
    
    section, .section-t-space {
        padding-top: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
    }
    @media (min-width: 768px){
.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
}}
.banner-contain {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.banner-contain {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.banner-contain .banner-details h3 {
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
    margin-top: -7px;
}
.text-exo {
    font-family: "Exo 2",sans-serif;
}
h3 {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
}
.banner-contain .banner-details h4 {
    font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.6;
}

.theme-color {
    color: var(--theme-color) !important;
}
.text-russo {
    font-family: "Russo One",sans-serif;
}
.fw-normal {
    font-weight: 400 !important;
}
.mend-auto {
    margin-right: auto !important;
    text-align: left;
}
.btn-sm {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
}


button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
.mend-auto {
    margin-right: auto !important;
    text-align: left;
}
.btn-sm {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
}
.btn-animation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    border-radius: 5px;
    
}}