.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
}
.product-box {
    padding: 14px;
    border-right: 1px solid rgba(74,85,104,0.3);
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.product-box .product-image {
    text-align: center;
    padding: 20px;
    position: relative;
}
a:hover {
    text-decoration: none;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
.product-box:hover .product-image a img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.product-box .product-image img {
    width: 100%;
    height: 140px;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.product-box:hover .product-image .product-option {
    bottom: 15px;
    opacity: 1;
}
.product-box .product-image .product-option {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    bottom: -5px;
    background-color: #fff;
    width: 70%;
    padding: 10px 5px;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 8px rgb(34 34 34 / 12%);
    box-shadow: 0 0 8px rgb(34 34 34 / 12%);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    max-width: 320px;
}
ul {
    padding-left: 0;
    margin-bottom: 0;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
ol, ul {
    padding-left: 2rem;
}