#main-home {
  /////////////////////////////////Section 2:

  .divsection2 {
    display: block;
    @media (min-width: 1400px) {
      .col-xxl-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
      }
    }
    @media (min-width: 992px) {
      .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 33.33333%;
      }
    }
    @media (min-width: 576px) {
      .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 50%;
      }
    }
  }
  .banner-contain {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    @media (min-width: 576px) {
      .g-sm-4,
      .gy-sm-4 {
        --bs-gutter-y: 1.5rem;
      }
    }
    @media (min-width: 576px) {
      .g-sm-4,
      .gx-sm-4 {
        --bs-gutter-x: 1.5rem;
      }
    }
  }

  .banner-contain .banner-details .banner-box {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: calc(8px + (12 - 8) * ((100vw - 320px) / (1920 - 320)))
      calc(30px + (39 - 30) * ((100vw - 320px) / (1920 - 320)))
      calc(8px + (12 - 8) * ((100vw - 320px) / (1920 - 320)))
      calc(8px + (12 - 8) * ((100vw - 320px) / (1920 - 320)));
    border-radius: 0px 60px 60px 0px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    -webkit-box-shadow: 0px 11px 10px rgb(74 85 104 / 6%);
    box-shadow: 0px 11px 10px rgb(74 85 104 / 6%);
  }
  .banner-contain .banner-details .banner-button {
    position: absolute;
    bottom: calc(8px + (16 - 8) * ((100vw - 320px) / (1920 - 320)));
    left: calc(14px + (22 - 14) * ((100vw - 320px) / (1920 - 320)));
    color: #fff;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .imagesection2 {
    @media (min-width: 576px) {
      .g-sm-4,
      .gy-sm-4 {
        --bs-gutter-y: 1.5rem;
      }
    }
    @media (min-width: 576px) {
      .g-sm-4,
      .gx-sm-4 {
        --bs-gutter-x: 1.5rem;
      }
    }

  }
  .banner-contain:hover {
    opacity: 0.3;
  }
  @media (min-width: 576px) {
    .g-sm-4,
    .gy-sm-4 {
      --bs-gutter-y: 1.5rem;
    }
  }
  @media (min-width: 576px) {
    .g-sm-4,
    .gx-sm-4 {
      --bs-gutter-x: 1.5rem;
    }
  }
}